//
// Font: Milkshare "Regular"
// ----------------------------------------------------------------------------------------------------


@font-family-milkshake-regular: ~"Milkshake-Regular, @{font-family-sansserif}";


@font-face {
    font-family: "Milkshake-Regular";
    src: url("@{public-fonts-path}milkshake/milkshake-webfont.eot");
    src: url("@{public-fonts-path}milkshake/milkshake-webfont.eot?#iefix") format("embedded-opentype"),
         url("@{public-fonts-path}milkshake/milkshake-webfont.woff2") format("woff2"),
         url("@{public-fonts-path}milkshake/milkshake-webfont.woff") format("woff"),
         url("@{public-fonts-path}milkshake/milkshake-webfont.ttf") format("truetype"),
         url("@{public-fonts-path}milkshake/milkshake-webfont.svg#milkshakeregular") format("svg");
    font-weight: normal;
    font-style: normal;
}