//
// Font: Brandon Grotesque "Medium Italic"
// ----------------------------------------------------------------------------------------------------


@font-family-brandongrotesque-mediumitalic: ~"BrandonGrotesque-MediumItalic, @{font-family-sansserif}";


@font-face {
    font-family: "BrandonGrotesque-MediumItalic";
    src: url("@{public-fonts-path}brandongrotesque/brandon_med_it-webfont.eot");
    src: url("@{public-fonts-path}brandongrotesque/brandon_med_it-webfont.eot?#iefix") format("embedded-opentype"),
         url("@{public-fonts-path}brandongrotesque/brandon_med_it-webfont.woff2") format("woff2"),
         url("@{public-fonts-path}brandongrotesque/brandon_med_it-webfont.woff") format("woff"),
         url("@{public-fonts-path}brandongrotesque/brandon_med_it-webfont.ttf") format("truetype"),
         url("@{public-fonts-path}brandongrotesque/brandon_med_it-webfont.svg#brandon_grotesqueMdIt") format("svg");
    font-weight: normal;
    font-style: normal;
}