//
// Font: Selima "Regular"
// ----------------------------------------------------------------------------------------------------


@font-family-selima-regular: ~"Selima-Regular, @{font-family-sansserif}";


@font-face {
    font-family: "Selima-Regular";
    src: url("@{public-fonts-path}selima/selima_webfont.eot");
    src: url("@{public-fonts-path}selima/selima_webfont.eot?#iefix") format("embedded-opentype"),
         url("@{public-fonts-path}selima/selima_webfont.woff2") format("woff2"),
         url("@{public-fonts-path}selima/selima_webfont.woff") format("woff"),
         url("@{public-fonts-path}selima/selima_webfont.ttf") format("truetype"),
         url("@{public-fonts-path}selima/selima_webfont.svg#selimaregular") format("svg");
    font-weight: normal;
    font-style: normal;
}