//
// Font: Nexa "Light"
// ----------------------------------------------------------------------------------------------------


@font-family-nexa-light: ~"Nexa-Light, @{font-family-sansserif}";


@font-face {
    font-family: "Nexa-Light";
    src: url("@{public-fonts-path}nexa/nexa-light-webfont.eot");
    src: url("@{public-fonts-path}nexa/nexa-light-webfont.eot?#iefix") format("embedded-opentype"),
         url("@{public-fonts-path}nexa/nexa-light-webfont.woff2") format("woff2"),
         url("@{public-fonts-path}nexa/nexa-light-webfont.woff") format("woff"),
         url("@{public-fonts-path}nexa/nexa-light-webfont.ttf") format("truetype"),
         url("@{public-fonts-path}nexa/nexa-light-webfont.svg#nexa_lightregular") format("svg");
    font-weight: normal;
    font-style: normal;
}