//
// Font: Nexa "Bold"
// ----------------------------------------------------------------------------------------------------


@font-family-nexa-bold: ~"Nexa-Bold, @{font-family-sansserif}";


@font-face {
    font-family: "Nexa-Bold";
    src: url("@{public-fonts-path}nexa/nexa-bold-webfont.eot");
    src: url("@{public-fonts-path}nexa/nexa-bold-webfont.eot?#iefix") format("embedded-opentype"),
         url("@{public-fonts-path}nexa/nexa-bold-webfont.woff2") format("woff2"),
         url("@{public-fonts-path}nexa/nexa-bold-webfont.woff") format("woff"),
         url("@{public-fonts-path}nexa/nexa-bold-webfont.ttf") format("truetype"),
         url("@{public-fonts-path}nexa/nexa-bold-webfont.svg#nexa_boldregular") format("svg");
    font-weight: normal;
    font-style: normal;
}