//
// Font: Lato "Regular"
// ----------------------------------------------------------------------------------------------------


@font-family-lato-regular: ~"Lato-Regular, @{font-family-sansserif}";


@font-face {
    font-family: "Lato-Regular";
    src: url("@{public-fonts-path}lato/lato-regular-webfont.eot");
    src: url("@{public-fonts-path}lato/lato-regular-webfont.eot?#iefix") format("embedded-opentype"), 
         url("@{public-fonts-path}lato/lato-regular-webfont.woff2") format("woff2"), 
         url("@{public-fonts-path}lato/lato-regular-webfont.woff") format("woff"),
         url("@{public-fonts-path}lato/lato-regular-webfont.ttf") format("truetype"), 
         url("@{public-fonts-path}lato/lato-regular-webfont.svg#latoregular") format("svg");
    font-weight: normal;
    font-style: normal;
}