//
// Font: Upbolters "Italic"
// ----------------------------------------------------------------------------------------------------


@font-family-upbolters-italic: ~"Upbolters-Italic, @{font-family-sansserif}";


@font-face {
    font-family: "Upbolters-Italic";
    src: url("@{public-fonts-path}upbolters/UPBOLTERS ITALIC-webfont.eot");
    src: url("@{public-fonts-path}upbolters/UPBOLTERS ITALIC-webfont.eot?#iefix") format("embedded-opentype"),
         url("@{public-fonts-path}upbolters/UPBOLTERS ITALIC-webfont.woff2") format("woff2"),
         url("@{public-fonts-path}upbolters/UPBOLTERS ITALIC-webfont.woff") format("woff"),
         url("@{public-fonts-path}upbolters/UPBOLTERS ITALIC-webfont.ttf") format("truetype"),
         url("@{public-fonts-path}upbolters/UPBOLTERS ITALIC-webfont.svg#upboltersitalic") format("svg");
    font-weight: normal;
    font-style: normal;
}