//
// Font: Berlin "Italic"
// ----------------------------------------------------------------------------------------------------


@font-family-berlin-italic: ~"Berlin-Italic, @{font-family-sansserif}";


@font-face {
    font-family: "Berlin-Italic";
    src: url("@{public-fonts-path}berlin/berlin-italic-webfont.woff2") format("woff2"),
         url("@{public-fonts-path}berlin/berlin-italic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}