//
// Font: Montserrat "Bold"
// ----------------------------------------------------------------------------------------------------


@font-family-montserrat-bold: ~"Montserrat-Bold, @{font-family-sansserif}";


@font-face {
    font-family: "Montserrat-Bold";
    src: url("@{public-fonts-path}montserrat/montserrat-bold-webfont.eot");
    src: url("@{public-fonts-path}montserrat/montserrat-bold-webfont.eot?#iefix") format("embedded-opentype"),
         url("@{public-fonts-path}montserrat/montserrat-bold-webfont.woff2") format("woff2"),
         url("@{public-fonts-path}montserrat/montserrat-bold-webfont.woff") format("woff"),
         url("@{public-fonts-path}montserrat/montserrat-bold-webfont.ttf") format("truetype"),
         url("@{public-fonts-path}montserrat/montserrat-bold-webfont.svg#montserratbold") format("svg");
    font-weight: normal;
    font-style: normal;
}