//
// Font: Montserrat "Hairline"
// ----------------------------------------------------------------------------------------------------


@font-family-montserrat-hairline: ~"Montserrat-Hairline, @{font-family-sansserif}";


@font-face {
    font-family: "Montserrat-Hairline";
    src: url("@{public-fonts-path}montserrat/montserrat-hairline-webfont.eot");
    src: url("@{public-fonts-path}montserrat/montserrat-hairline-webfont.eot?#iefix") format("embedded-opentype"),
         url("@{public-fonts-path}montserrat/montserrat-hairline-webfont.woff2") format("woff2"),
         url("@{public-fonts-path}montserrat/montserrat-hairline-webfont.woff") format("woff"),
         url("@{public-fonts-path}montserrat/montserrat-hairline-webfont.ttf") format("truetype"),
         url("@{public-fonts-path}montserrat/montserrat-hairline-webfont.svg#montserrathairline") format("svg");
    font-weight: normal;
    font-style: normal;
}