//
// Font: Cooperhewitt "Semibold Italic"
// ----------------------------------------------------------------------------------------------------


@font-family-cooperhewitt-semibold-italic: ~"Cooperhewitt-SemiboldItalic, @{font-family-sansserif}";

@font-face {
    font-family: 'Cooperhewitt-SemiboldItalic';
    src: url('@{public-fonts-path}cooperhewitt/cooperhewitt-semibolditalic-webfont.eot');
    src: url('@{public-fonts-path}cooperhewitt/cooperhewitt-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{public-fonts-path}cooperhewitt/cooperhewitt-semibolditalic-webfont.woff2') format('woff2'),
         url('@{public-fonts-path}cooperhewitt/cooperhewitt-semibolditalic-webfont.woff') format('woff'),
         url('@{public-fonts-path}cooperhewitt/cooperhewitt-semibolditalic-webfont.ttf') format('truetype'),
         url('@{public-fonts-path}cooperhewitt/cooperhewitt-semibolditalic-webfont.svg#cooper_hewittsemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}