//
// Font: Cooperhewitt "Heavy Italic"
// ----------------------------------------------------------------------------------------------------


@font-family-cooperhewitt-heavyitalic: ~"Cooperhewitt-Heavy-Italic, @{font-family-sansserif}";

@font-face {
    font-family: 'Cooperhewitt-Heavy-Italic';
    src: url('@{public-fonts-path}cooperhewitt/cooperhewitt-heavyitalic-webfont.eot');
    src: url('@{public-fonts-path}cooperhewitt/cooperhewitt-heavyitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{public-fonts-path}cooperhewitt/cooperhewitt-heavyitalic-webfont.woff2') format('woff2'),
         url('@{public-fonts-path}cooperhewitt/cooperhewitt-heavyitalic-webfont.woff') format('woff'),
         url('@{public-fonts-path}cooperhewitt/cooperhewitt-heavyitalic-webfont.ttf') format('truetype'),
         url('@{public-fonts-path}cooperhewitt/cooperhewitt-heavyitalic-webfont.svg#cooper_hewittheavy_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}