//
// Font: Cooperhewitt "Italic"
// ----------------------------------------------------------------------------------------------------


@font-family-cooperhewitt-italic: ~"Cooperhewitt-Book-Italic, @{font-family-sansserif}";

@font-face {
    font-family: 'Cooperhewitt-Book-Italic';
    src: url('@{public-fonts-path}cooperhewitt/cooperhewitt-bookitalic-webfont.eot');
    src: url('@{public-fonts-path}cooperhewitt/cooperhewitt-bookitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{public-fonts-path}cooperhewitt/cooperhewitt-bookitalic-webfont.woff2') format('woff2'),
         url('@{public-fonts-path}cooperhewitt/cooperhewitt-bookitalic-webfont.woff') format('woff'),
         url('@{public-fonts-path}cooperhewitt/cooperhewitt-bookitalic-webfont.ttf') format('truetype'),
         url('@{public-fonts-path}cooperhewitt/cooperhewitt-bookitalic-webfont.svg#cooper_hewitt_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}