//
// Font: Museo Sans 500
// ----------------------------------------------------------------------------------------------------


@font-family-museosans500: ~"Museo-Sans500, @{font-family-serif}";


@font-face {
    font-family: "Museo-Sans500";
    src: url("@{public-fonts-path}museosans500/museosans500-webfont.eot");
    src: url("@{public-fonts-path}museosans500/museosans500-webfont.eot?#iefix") format("embedded-opentype"),
         url("@{public-fonts-path}museosans500/museosans500-webfont.woff") format("woff"),
         url("@{public-fonts-path}museosans500/museosans500-webfontt.ttf") format("truetype"),
         url("@{public-fonts-path}museosans500/museosans500-webfont.svg#museo_sans_500regular") format("svg");
    font-weight: normal;
    font-style: normal;
}