//
// Font: Charis SIL: "Italic"
// ----------------------------------------------------------------------------------------------------


@font-family-charissil-italic: ~"CharisSIL-Italic, @{font-family-sansserif}";


@font-face {
    font-family: 'CharisSIL-Italic';
    src: url('@{public-fonts-path}charissil/charissil-italic-webfont.eot');
    src: url('@{public-fonts-path}charissil/charissil-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{public-fonts-path}charissil/charissil-italic-webfont.woff2') format('woff2'),
         url('@{public-fonts-path}charissil/charissil-italic-webfont.woff') format('woff'),
         url('@{public-fonts-path}charissil/charissil-italic-webfont.ttf') format('truetype'),
         url('@{public-fonts-path}charissil/charissil-italic-webfont.svg#charis_silitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}