//
// Form Controls
// ----------------------------------------------------------------------------------------------------


// (MODIFIED) Source: http://getbootstrap.com/


// Shared size and type resets for form controls. Apply '.form-control' to any
// of the following form controls:
//
// select
// textarea
// input[type="text"]
// input[type="password"]
// input[type="datetime"]
// input[type="datetime-local"]
// input[type="date"]
// input[type="month"]
// input[type="time"]
// input[type="week"]
// input[type="number"]
// input[type="email"]
// input[type="url"]
// input[type="search"]
// input[type="tel"]
// input[type="color"]
.form-control {
    &:extend(.border-box-sizing all);
    
    width: 100%;
    background-color: @input-bg;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    border: @input-border;
    box-shadow: @input-box-shadow;
    color: @input-color;
    font-family: @input-font-family;
    vertical-align: middle;
    display: block;
    
    .form-control-size();
    .transition(~"border-color ease-in-out .15s, box-shadow ease-in-out .15s");
    .placeholder();
    
    // Customize the ':focus' state to imitate native WebKit styles.
    .form-control-focus();
    
    // Disabled and read-only inputs
    //
    // HTML5 says that controls under a fieldset > legend:first-child won't be
    // disabled if the fieldset is disabled. Due to implementation difficulty, we
    // don't honor that edge case; we style them as disabled anyway.
    &[disabled],
    &[readonly],
    fieldset[disabled] & {
        background-color: @input-bg-disabled;
        opacity: 1; // iOS fix for unreadable disabled content
        cursor: not-allowed;
    }
    
    // Reset height for textareas
    textarea& {
        height: auto;
        min-height: @textarea-min-height;
    }

}


// Static form control text
//
// Apply class to a parapraph, span or div element to make any string of text align with labels in
// a horizontal form layout.
.form-control-static {
    // Remove default margin from paragraph tag
    margin-bottom: 0;
    
    // Size it appropriately next to real form controls
    padding-top: (@input-padding-vert + @input-border-size);
    padding-bottom: (@input-padding-vert + @input-border-size);
    
    vertical-align: middle;
    display: inline-block;
}




// ----------------------------------------------------------------------------------------------------




// Sizing Options
.form-control-sm {
    .form-control-size(@input-height-sm; @padding-vert-sm; @padding-horz-sm; @font-size-sm; @line-height-sm; @border-radius-sm);
}
.form-control-lg {
    .form-control-size(@input-height-lg; @padding-vert-lg; @padding-horz-lg; @font-size-lg; @line-height-lg; @border-radius-lg);
}




// ----------------------------------------------------------------------------------------------------




// Form switches (checkboxes and radios)
.form-switch {
    margin-top: @form-switch-offset-vert;
    margin-bottom: @form-switch-offset-vert;
    vertical-align: middle;
    display: block;
    position: relative;
    
    // Move up sibling form switches for tighter spacing
    & + & {
        margin-top: -@form-switch-offset-vert;
    }
    
    label&,
    label {
        min-height: @line-height-computed; // Clear the floating input if there is no label text
        margin-bottom: 0;
        padding-left: @form-switch-offset-horz;
        font-weight: normal;
        cursor: pointer;
    }
    
    input[type="radio"],
    input[type="checkbox"] {
        margin-top: floor(@line-height-computed / 2) - 7; // radios/checkboxes are typically about 13px tall, 7 is approximately half the height
        margin-left: -@form-switch-offset-horz;
        position: absolute;
    }
    
    &.disabled,
    fieldset[disabled] & {
        label {
            cursor: not-allowed;
        }
    }
}


// Form switches on the same line
.form-switch-inline {
    margin-bottom: 0;
    padding-left: 20px;
    font-weight: normal;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    
    & + & {
        margin-top: 0;
        margin-left: @form-switch-offset-horz; // space out consecutive inline controls
    }
    
    input[type="radio"],
    input[type="checkbox"] {
        margin-top: floor(@line-height-computed / 2) - 7; // radios/checkboxes are typically about 13px tall, 7 is approximately half the height
        margin-left: -@form-switch-offset-horz;
        position: absolute;
    }
    
    &.disabled,
    fieldset[disabled] & {
        cursor: not-allowed;
    }
}




// ----------------------------------------------------------------------------------------------------




// Apply same disabled cursor tweak as for inputs
// Some special care is needed because labels don't inherit their parent's `cursor`.
//
// Note: Neither radios nor checkboxes can be readonly.
input[type="radio"],
input[type="checkbox"] {
    &[disabled],
    &.disabled,
    fieldset[disabled] & {
        cursor: not-allowed;
    }
}