//
// Visibility helpers
// ----------------------------------------------------------------------------------------------------


// MODIFIED: Source: http://getbootstrap.com/


// Show an element
.show {
    display: block !important;
}


// Hide from browsers AND screen readers
//
// Credit: HTML5 Boilerplate
.hide {
    display: none !important;
    visibility: hidden !important;
}


// Visible only to a screen reader
.sr {
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    position: absolute;
    clip: rect(0, 0, 0, 0);
}