//
// Font: Crimson: "Semibold Italic"
// ----------------------------------------------------------------------------------------------------


@font-family-crimson-semibold-italic: ~"Crimson-SemiboldItalic, @{font-family-sansserif}";


@font-face {
    font-family: 'Crimson-SemiboldItalic';
    src: url('@{public-fonts-path}crimson/crimson-semibold-italic-webfont.eot');
    src: url('@{public-fonts-path}crimson/crimson-semibold-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{public-fonts-path}crimson/crimson-semibold-italic-webfont.woff2') format('woff2'),
         url('@{public-fonts-path}crimson/crimson-semibold-italic-webfont.woff') format('woff'),
         url('@{public-fonts-path}crimson/crimson-semibold-italic-webfont.ttf') format('truetype'),
         url('@{public-fonts-path}crimson/crimson-semibold-italic-webfont.svg#crimson_textsemibolditalic') format('svg');
    font-weight: normal;
    font-style: normal;
}