//
// Font: Crimson: "Semibold"
// ----------------------------------------------------------------------------------------------------


@font-family-crimson-semibold: ~"Crimson-Semibold, @{font-family-sansserif}";


@font-face {
    font-family: 'Crimson-Semibold';
    src: url('@{public-fonts-path}crimson/crimson-semibold-webfont.eot');
    src: url('@{public-fonts-path}crimson/crimson-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{public-fonts-path}crimson/crimson-semibold-webfont.woff2') format('woff2'),
         url('@{public-fonts-path}crimson/crimson-semibold-webfont.woff') format('woff'),
         url('@{public-fonts-path}crimson/crimson-semibold-webfont.ttf') format('truetype'),
         url('@{public-fonts-path}crimson/crimson-semibold-webfont.svg#crimson_textsemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}