//
// Font: Crimson: "Italic"
// ----------------------------------------------------------------------------------------------------


@font-family-crimson-italic: ~"Crimson-Italic, @{font-family-sansserif}";


@font-face {
    font-family: 'Crimson-Italic';
    src: url('@{public-fonts-path}crimson/crimson-italic-webfont.eot');
    src: url('@{public-fonts-path}crimson/crimson-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{public-fonts-path}crimson/crimson-italic-webfont.woff2') format('woff2'),
         url('@{public-fonts-path}crimson/crimson-italic-webfont.woff') format('woff'),
         url('@{public-fonts-path}crimson/crimson-italic-webfont.ttf') format('truetype'),
         url('@{public-fonts-path}crimson/crimson-italic-webfont.svg#crimson_textitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}