//
// Font: Banksia "Regular"
// ----------------------------------------------------------------------------------------------------


@font-family-banksia-regular: ~"Banksia-Regular, @{font-family-sansserif}";


@font-face {
    font-family: "Banksia-Regular";
    src: url("@{public-fonts-path}banksia/banksia-webfont.eot");
    src: url("@{public-fonts-path}banksia/banksia-webfont.eot?#iefix") format("embedded-opentype"),
         url("@{public-fonts-path}banksia/banksia-webfont.woff") format("woff"),
         url("@{public-fonts-path}banksia/banksia-webfont.ttf") format("truetype"),
         url("@{public-fonts-path}banksia/banksia-webfont.svg#banksiaregular") format("svg");
    font-weight: normal;
    font-style: normal;
}