//
// Font: Banksia "Bold"
// ----------------------------------------------------------------------------------------------------


@font-family-banksia-bold: ~"Banksia-Bold, @{font-family-sansserif}";


@font-face {
    font-family: "Banksia-Bold";
    src: url("@{public-fonts-path}banksia/banksb20-webfont.eot");
    src: url("@{public-fonts-path}banksia/banksb20-webfont.eot?#iefix") format("embedded-opentype"),
         url("@{public-fonts-path}banksia/banksb20-webfont.woff") format("woff"),
         url("@{public-fonts-path}banksia/banksb20-webfont.ttf") format("truetype"),
         url("@{public-fonts-path}banksia/banksb20-webfont.svg#banksia_bold") format("svg");
    font-weight: normal;
    font-style: normal;
}