//
// Font: PTSans "Bold Italic"
// ----------------------------------------------------------------------------------------------------


@font-family-ptsans-bolditalic: ~"PTSans-BoldItalic, @{font-family-sansserif}";


@font-face {
    font-family: "PTSans-Bolditalic";
    src: url("@{public-fonts-path}ptsans/PTS76F-webfont.eot");
    src: url("@{public-fonts-path}ptsans/PTS76F-webfont.eot?#iefix") format("embedded-opentype"),
         url("@{public-fonts-path}ptsans/PTS76F-webfont.woff") format("woff"),
         url("@{public-fonts-path}ptsans/PTS76F-webfont.ttf") format("truetype"),
         url("@{public-fonts-path}ptsans/PTS76F-webfont.svg#pt_sansbold_italic") format("svg");
    font-weight: normal;
    font-style: normal;
}