//
// Font: Bellota "Regular"
// ----------------------------------------------------------------------------------------------------


@font-family-bellota-regular: ~"Bellota-Regular, @{font-family-sansserif}";


@font-face {
    font-family: "Bellota-Regular";
    src: url("@{public-fonts-path}bellota/Bellota-Regular-webfont.eot");
    src: url("@{public-fonts-path}bellota/Bellota-Regular-webfont.eot?#iefix") format("embedded-opentype"),
         url("@{public-fonts-path}bellota/Bellota-Regular-webfont.woff") format("woff"),
         url("@{public-fonts-path}bellota/Bellota-Regular-webfont.ttf") format("truetype"),
         url("@{public-fonts-path}bellota/Bellota-Regular-webfont.svg#bellotaregular") format("svg");
    font-weight: normal;
    font-style: normal;
}