//
// Font: Bellota "Italic"
// ----------------------------------------------------------------------------------------------------


@font-family-bellota-italic: ~"Bellota-Italic, @{font-family-sansserif}";


@font-face {
    font-family: "Bellota-Italic";
    src: url("@{public-fonts-path}bellota/Bellota-Italic-webfont.eot");
    src: url("@{public-fonts-path}bellota/Bellota-Italic-webfont.eot?#iefix") format("embedded-opentype"),
         url("@{public-fonts-path}bellota/Bellota-Italic-webfont.woff") format("woff"),
         url("@{public-fonts-path}bellota/Bellota-Italic-webfont.ttf") format("truetype"),
         url("@{public-fonts-path}bellota/Bellota-Italic-webfont.svg#bellotaitalic") format("svg");
    font-weight: normal;
    font-style: normal;
}