//
// Font: TeX Gyre Adventor: "Bold"
// ----------------------------------------------------------------------------------------------------


@font-family-texgyreadventor-bold: ~"TexGyreAdventor-Bold, @{font-family-sansserif}";


@font-face {
    font-family: "TexGyreAdventor-Bold";
    src: url("@{public-fonts-path}texgyreadventor/texgyreadventor-bold-webfont.eot");
    src: url("@{public-fonts-path}texgyreadventor/texgyreadventor-bold-webfont.eot?#iefix") format("embedded-opentype"),
         url("@{public-fonts-path}texgyreadventor/texgyreadventor-bold-webfont.woff") format("woff"),
         url("@{public-fonts-path}texgyreadventor/texgyreadventor-bold-webfont.ttf") format("truetype"),
         url("@{public-fonts-path}texgyreadventor/texgyreadventor-bold-webfont.svg#texgyreadventorbold") format("svg");
    font-weight: normal;
    font-style: normal;
}