//
// Font: Encode Sans: "Medium"
// ----------------------------------------------------------------------------------------------------


@font-family-encodesans-medium: ~"EncodeSans-Medium, @{font-family-sansserif}";


@font-face {
    font-family: "EncodeSans-Medium";
    src: url("@{public-fonts-path}encodesans/encodesans-medium-webfont.eot");
    src: url("@{public-fonts-path}encodesans/encodesans-medium-webfont.eot?#iefix") format("embedded-opentype"),
         url("@{public-fonts-path}encodesans/encodesans-medium-webfont.woff2") format("woff2"),
         url("@{public-fonts-path}encodesans/encodesans-medium-webfont.woff") format("woff"),
         url("@{public-fonts-path}encodesans/encodesans-medium-webfont.ttf") format("truetype"),
         url("@{public-fonts-path}encodesans/encodesans-medium-webfont.svg#encode_sansmedium") format("svg");
    font-weight: normal;
    font-style: normal;
}