//
// Font: Amatic: "Regular"
// ----------------------------------------------------------------------------------------------------


@font-family-amatic-regular: ~"Amatic-Regular, @{font-family-sansserif}";


@font-face {
    font-family: "Amatic_Regular";
    src: url("@{public-fonts-path}amatic/amaticsc-regular-webfont.eot");
    src: url("@{public-fonts-path}amatic/amaticsc-regular-webfont.eot?#iefix") format("embedded-opentype"),
         url("@{public-fonts-path}amatic/amaticsc-regular-webfont.woff2") format("woff2"),
         url("@{public-fonts-path}amatic/amaticsc-regular-webfont.woff") format("woff"),
         url("@{public-fonts-path}amatic/amaticsc-regular-webfont.ttf") format("truetype"),
         url("@{public-fonts-path}amatic/amaticsc-regular-webfont.svg#amatic_scregular") format("svg");
    font-weight: normal;
    font-style: normal;
}
