//
// Font: Poetsen One: "Regular"
// ----------------------------------------------------------------------------------------------------


@font-family-poetsenone-regular: ~"Poetsen-One, @{font-family-sansserif}";


@font-face {
    font-family: "Poetsen-One";
    src: url("@{public-fonts-path}poetsenone/poetsenone-regular-webfont.eot");
    src: url("@{public-fonts-path}poetsenone/poetsenone-regular-webfont.eot?#iefix") format("embedded-opentype"),
         url("@{public-fonts-path}poetsenone/poetsenone-regular-webfont.woff2") format("woff2"),
         url("@{public-fonts-path}poetsenone/poetsenone-regular-webfont.woff") format("woff"),
         url("@{public-fonts-path}poetsenone/poetsenone-regular-webfont.ttf") format("truetype"),
         url("@{public-fonts-path}poetsenone/poetsenone-regular-webfont.svg#poetsenoneregular") format("svg");
    font-weight: normal;
    font-style: normal;
}