//
// Font: Open Sans: "Italic"
// ----------------------------------------------------------------------------------------------------


@font-family-opensans-italic: ~"OpenSans-Italic, @{font-family-sansserif}";


@font-face {
    font-family: "OpenSans-Italic";
    src: url("@{public-fonts-path}opensans/opensans-italic-webfont.eot");
    src: url("@{public-fonts-path}opensans/opensans-italic-webfont.eot?#iefix") format("embedded-opentype"),
         url("@{public-fonts-path}opensans/opensans-italic-webfont.woff") format("woff"),
         url("@{public-fonts-path}opensans/opensans-italic-webfont.ttf") format("truetype"),
         url("@{public-fonts-path}opensans/opensans-italic-webfont.svg#OpenSansItalic") format("svg");
    font-weight: normal;
    font-style: normal;
}