//
// Font: Orbitron "Light"
// ----------------------------------------------------------------------------------------------------


@font-family-orbitron-light: ~"Orbitron-Light, @{font-family-sansserif}";


@font-face {
    font-family: "Orbitron-Light";
    src: url("@{public-fonts-path}orbitron/orbitron-light-webfont.eot");
    src: url("@{public-fonts-path}orbitron/orbitron-light-webfont.eot?#iefix") format("embedded-opentype"),
         url("@{public-fonts-path}orbitron/orbitron-light-webfont.woff2") format("woff2"),
         url("@{public-fonts-path}orbitron/orbitron-light-webfont.woff") format("woff"),
         url("@{public-fonts-path}orbitron/orbitron-light-webfont.ttf") format("truetype"),
         url("@{public-fonts-path}orbitron/orbitron-light-webfont.svg#orbitronlight") format("svg");
    font-weight: normal;
    font-style: normal;
}