//
// Font: AlteHaasGrotesk "Regular"
// ----------------------------------------------------------------------------------------------------


@font-family-altehaasgrotesk-regular: ~"AlteHaasGrotesk-Regular, @{font-family-sansserif}";


@font-face {
    font-family: "AlteHaasGrotesk-Regular";
    src: url("@{public-fonts-path}altehaasgrotesk/altehaasgroteskregular-webfont.woff2") format("woff2"),
         url("@{public-fonts-path}altehaasgrotesk/altehaasgroteskregular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}