//
// Affix
// ----------------------------------------------------------------------------------------------------


// ##############################
// 
//   Currently in development
// 
//         DO NOT USE
// 
// ##############################


.affix {
    
}

&.affix-before {
    
}

&.affix-sticky {
    position: fixed;
}

&.affix-after {
    position: absolute;
    bottom: 0;
}