//
// Button Groups
// ----------------------------------------------------------------------------------------------------


.btn-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    
    .btn {
        border-radius: 0;
        position: relative;
        float: left;
        
        &:first-child {
            border-radius: @btn-border-radius 0 0 @btn-border-radius;
        }
        &:last-child {
            border-radius: 0 @btn-border-radius @btn-border-radius 0;
        }
    }
    
    // Prevent double borders when buttons are next to each other
    .btn + .btn {
        margin-left: -1px;
    }
}