//
// Font: Neris "Semibold"
// ----------------------------------------------------------------------------------------------------


@font-family-neris-semibold: ~"Neris-Semibold, @{font-family-sansserif}";


@font-face {
    font-family: "Neris-Semibold";
    src: url("@{public-fonts-path}neris/neris-semibold-webfont.eot");
    src: url("@{public-fonts-path}neris/neris-semibold-webfont.eot?#iefix") format('embedded-opentype'),
         url("@{public-fonts-path}neris/neris-semibold-webfont.woff") format('woff'),
         url("@{public-fonts-path}neris/neris-semibold-webfont.ttf") format('truetype'),
         url("@{public-fonts-path}neris/neris-semibold-webfont.svg#nerissemibold") format('svg');
    font-weight: normal;
    font-style: normal;
}