//
// Font: Neris "Bold Italic"
// ----------------------------------------------------------------------------------------------------


@font-family-neris-bolditalic: ~"Neris-BoldItalic, @{font-family-sansserif}";


@font-face {
    font-family: "Neris-BoldItalic";
    src: url("@{public-fonts-path}neris/neris-bolditalic-webfont.eot");
    src: url("@{public-fonts-path}neris/neris-bolditalic-webfont.eot?#iefix") format('embedded-opentype'),
         url("@{public-fonts-path}neris/neris-bolditalic-webfont.woff") format('woff'),
         url("@{public-fonts-path}neris/neris-bolditalic-webfont.ttf") format('truetype'),
         url("@{public-fonts-path}neris/neris-bolditalic-webfont.svg#nerisbold_italic") format('svg');
    font-weight: normal;
    font-style: normal;
}