//
// Font: Gothamhtf "Bold Condensed"
// ----------------------------------------------------------------------------------------------------


@font-family-gothamhtf-boldcondensed: ~"Gothamhtf-Boldcondensed, @{font-family-sansserif}";


@font-face {
    font-family: "Gothamhtf-Boldcondensed";
    src: url("@{public-fonts-path}gothamhtf/gothamhtf-boldcondensed-webfont.eot");
    src: url("@{public-fonts-path}gothamhtf/gothamhtf-boldcondensed-webfont.eot?#iefix") format("embedded-opentype"),
         url("@{public-fonts-path}gothamhtf/gothamhtf-boldcondensed-webfont.woff2") format("woff2"),
         url("@{public-fonts-path}gothamhtf/gothamhtf-boldcondensed-webfont.woff") format("woff"),
         url("@{public-fonts-path}gothamhtf/gothamhtf-boldcondensed-webfont.ttf") format("truetype"),
         url("@{public-fonts-path}gothamhtf/gothamhtf-boldcondensed-webfont.svg#gotham_htfbold_condensed") format("svg");
    font-weight: normal;
    font-style: normal;
}