//
// Font: Gothamhtf "Medium Condensed"
// ----------------------------------------------------------------------------------------------------


@font-family-gothamhtf-mediumcondensed: ~"Gothamhtf-Mediumcondensed, @{font-family-sansserif}";


@font-face {
    font-family: "Gothamhtf-Mediumcondensed";
    src: url("@{public-fonts-path}gothamhtf/gothamhtf-mediumcondensed-webfont.eot");
    src: url("@{public-fonts-path}gothamhtf/gothamhtf-mediumcondensed-webfont.eot?#iefix") format("embedded-opentype"),
         url("@{public-fonts-path}gothamhtf/gothamhtf-mediumcondensed-webfont.woff2") format("woff2"),
         url("@{public-fonts-path}gothamhtf/gothamhtf-mediumcondensed-webfont.woff") format("woff"),
         url("@{public-fonts-path}gothamhtf/gothamhtf-mediumcondensed-webfont.ttf") format("truetype"),
         url("@{public-fonts-path}gothamhtf/gothamhtf-mediumcondensed-webfont.svg#gotham_htfmedium_condensed") format("svg");
    font-weight: normal;
    font-style: normal;
}