//
// Font: Gothamhtf "Bold"
// ----------------------------------------------------------------------------------------------------


@font-family-gothamhtf-bold: ~"Gothamhtf-Bold, @{font-family-sansserif}";


@font-face {
    font-family: "Gothamhtf-Bold";
    src: url("@{public-fonts-path}gothamhtf/gothamhtf-bold-webfont.eot");
    src: url("@{public-fonts-path}gothamhtf/gothamhtf-bold-webfont.eot?#iefix") format("embedded-opentype"),
         url("@{public-fonts-path}gothamhtf/gothamhtf-bold-webfont.woff2") format("woff2"),
         url("@{public-fonts-path}gothamhtf/gothamhtf-bold-webfont.woff") format("woff"),
         url("@{public-fonts-path}gothamhtf/gothamhtf-bold-webfont.ttf") format("truetype"),
         url("@{public-fonts-path}gothamhtf/gothamhtf-bold-webfont.svg#gotham_htfbold") format("svg");
    font-weight: normal;
    font-style: normal;
}