//
// Font: Aleo "Bold"
// ----------------------------------------------------------------------------------------------------


@font-family-aleo-bold: ~"Aleo-Bold, @{font-family-sansserif}";


@font-face {
    font-family: "Aleo-Bold";
    src: url("@{public-fonts-path}aleo/Aleo-Bold-webfont.eot");
    src: url("@{public-fonts-path}aleo/Aleo-Bold-webfont.eot?#iefix") format("embedded-opentype"),
         url("@{public-fonts-path}aleo/Aleo-Bold-webfont.woff") format("woff"),
         url("@{public-fonts-path}aleo/Aleo-Bold-webfont.ttf") format("truetype"),
         url("@{public-fonts-path}aleo/Aleo-Bold-webfont.svg#aleobold") format("svg");
    font-weight: normal;
    font-style: normal;
}
