//
// Font: Aleo "Italic"
// ----------------------------------------------------------------------------------------------------


@font-family-aleo-italic: ~"Aleo-Italic, @{font-family-sansserif}";


@font-face {
    font-family: "Aleo-Italic";
    src: url("@{public-fonts-path}aleo/aleo-italic-webfont.eot");
    src: url("@{public-fonts-path}aleo/aleo-italic-webfont.eot?#iefix") format("embedded-opentype"),
         url("@{public-fonts-path}aleo/aleo-italic-webfont.woff2") format("woff2"),
         url("@{public-fonts-path}aleo/aleo-italic-webfont.woff") format("woff"),
         url("@{public-fonts-path}aleo/aleo-italic-webfont.ttf") format("truetype"),
         url("@{public-fonts-path}aleo/aleo-italic-webfont.svg#aleoitalic") format("svg");
    font-weight: normal;
    font-style: normal;
}