//
// Font: Aleo "Regular"
// ----------------------------------------------------------------------------------------------------


@font-family-aleo-regular: ~"Aleo-Regular, @{font-family-sansserif}";


@font-face {
    font-family: "Aleo-Regular";
    src: url("@{public-fonts-path}aleo/Aleo-Regular-webfont.eot");
    src: url("@{public-fonts-path}aleo/Aleo-Regular-webfont.eot?#iefix") format("embedded-opentype"),
         url("@{public-fonts-path}aleo/Aleo-Regular-webfont.woff") format("woff"),
         url("@{public-fonts-path}aleo/Aleo-Regular-webfont.ttf") format("truetype"),
         url("@{public-fonts-path}aleo/Aleo-Regular-webfont.svg#aleoregular") format("svg");
    font-weight: normal;
    font-style: normal;
}