//
// Mixin: Visibility
// ----------------------------------------------------------------------------------------------------


// (MODIFIED) Source: http://getbootstrap.com/


.visibility() {
    display: block !important;
    
    table&  { display: table !important; }
    tr&     { display: table-row !important; }
    th&,
    td&     { display: table-cell !important; }
}
.invisibility() {
    display: none !important;
}