//
// Font: Ubuntu: "Medium Italic"
// ----------------------------------------------------------------------------------------------------


@font-family-ubuntu-medium-italic: ~"Ubuntu-MediumItalic, @{font-family-sansserif}";


@font-face {
    font-family: 'Ubuntu-MediumItalic';
    src: url('@{public-fonts-path}ubuntu/ubuntu-medium-italic-webfont.eot');
    src: url('@{public-fonts-path}ubuntu/ubuntu-medium-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{public-fonts-path}ubuntu/ubuntu-medium-italic-webfont.woff2') format('woff2'),
         url('@{public-fonts-path}ubuntu/ubuntu-medium-italic-webfont.woff') format('woff'),
         url('@{public-fonts-path}ubuntu/ubuntu-medium-italic-webfont.ttf') format('truetype'),
         url('@{public-fonts-path}ubuntu/ubuntu-medium-italic-webfont.svg#ubuntumedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}