//
// Font: Ubuntu: "Italic"
// ----------------------------------------------------------------------------------------------------


@font-family-ubuntu-italic: ~"Ubuntu-Italic, @{font-family-sansserif}";


@font-face {
    font-family: 'Ubuntu-Italic';
    src: url('@{public-fonts-path}ubuntu/ubuntu-italic-webfont.eot');
    src: url('@{public-fonts-path}ubuntu/ubuntu-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{public-fonts-path}ubuntu/ubuntu-italic-webfont.woff2') format('woff2'),
         url('@{public-fonts-path}ubuntu/ubuntu-italic-webfont.woff') format('woff'),
         url('@{public-fonts-path}ubuntu/ubuntu-italic-webfont.ttf') format('truetype'),
         url('@{public-fonts-path}ubuntu/ubuntu-italic-webfont.svg#ubuntuitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}