//
// Font: PerspectiveSans "Bold"
// ----------------------------------------------------------------------------------------------------


@font-family-perspectivesans-bold: ~"PerspectiveSans-Bold, @{font-family-sansserif}";


@font-face {
    font-family: "PerspectiveSans-Bold";
    src: url("@{public-fonts-path}perspectivesans/persansb-webfont.eot");
    src: url("@{public-fonts-path}perspectivesans/persansb-webfont.eot?#iefix") format("embedded-opentype"),
         url("@{public-fonts-path}perspectivesans/persansb-webfont.woff") format("woff"),
         url("@{public-fonts-path}perspectivesans/persansb-webfont.ttf") format("truetype"),
         url("@{public-fonts-path}perspectivesans/persansb-webfont.svg#perspective_sansbold") format("svg");
    font-weight: normal;
    font-style: normal;
}