//
// Font: Muli "Italic"
// ----------------------------------------------------------------------------------------------------


@font-family-muli-italic: ~"Muli-Italic, @{font-family-sansserif}";


@font-face {
    font-family: 'Muli-Italic';
    src: url('@{public-fonts-path}muli/muli-italic-webfont.eot');
    src: url('@{public-fonts-path}muli/muli-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{public-fonts-path}muli/muli-italic-webfont.woff2') format('woff2'),
         url('@{public-fonts-path}muli/muli-italic-webfont.woff') format('woff'),
         url('@{public-fonts-path}muli/muli-italic-webfont.ttf') format('truetype'),
         url('@{public-fonts-path}muli/muli-italic-webfont.svg#muliitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}