//
// Font: Great Vibes "Regular"
// ----------------------------------------------------------------------------------------------------


@font-family-great-vibes-regular: ~"greatvibes-regular, @{font-family-serif}";


@font-face {
    font-family: 'greatvibes-regular';
    src: url('@{public-fonts-path}greatvibes/greatvibes-regular-webfont.eot');
    src: url('@{public-fonts-path}greatvibes-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{public-fonts-path}greatvibes/greatvibes-regular-webfont.woff2') format('woff2'),
         url('@{public-fonts-path}greatvibes/greatvibes-regular-webfont.woff') format('woff'),
         url('@{public-fonts-path}greatvibes/greatvibes-regular-webfont.ttf') format('truetype'),
         url('@{public-fonts-path}greatvibes/greatvibes-regular-webfont.svg#great_vibesregular') format('svg');
    font-weight: normal;
    font-style: normal;
}