//
// Font: Source Sans Pro: "Semibold"
// ----------------------------------------------------------------------------------------------------


@font-family-sourcesanspro-semibold: ~"SourceSansPro-Semibold, @{font-family-sansserif}";


@font-face {
    font-family: "SourceSansPro-Semibold";
    src: url("@{public-fonts-path}sourcesanspro/sourcesanspro-semibold-webfont.eot");
    src: url("@{public-fonts-path}sourcesanspro/sourcesanspro-semibold-webfont.eot?#iefix") format("embedded-opentype"),
         url("@{public-fonts-path}sourcesanspro/sourcesanspro-semibold-webfont.woff") format("woff"),
         url("@{public-fonts-path}sourcesanspro/sourcesanspro-semibold-webfont.ttf") format("truetype"),
         url("@{public-fonts-path}sourcesanspro/sourcesanspro-semibold-webfont.svg#source_sans_prosemibold") format("svg");
    font-weight: normal;
    font-style: normal;
}