//
// Font: Source Sans Pro: "Semibold Italic"
// ----------------------------------------------------------------------------------------------------


@font-family-sourcesanspro-semibold-italic: ~"SourceSansPro-Semibold-Italic, @{font-family-sansserif}";


@font-face {
    font-family: "SourceSansPro-Semibold-Italic";
    src: url("@{public-fonts-path}sourcesanspro/sourcesanspro-semibold-italic-webfont.eot");
    src: url("@{public-fonts-path}sourcesanspro/sourcesanspro-semibold-italic-webfont.eot?#iefix") format("embedded-opentype"),
         url("@{public-fonts-path}sourcesanspro/sourcesanspro-semibold-italic-webfont.woff") format("woff"),
         url("@{public-fonts-path}sourcesanspro/sourcesanspro-semibold-italic-webfont.ttf") format("truetype"),
         url("@{public-fonts-path}sourcesanspro/sourcesanspro-semibold-italic-webfont.svg#source_sans_proSBdIt") format("svg");
    font-weight: normal;
    font-style: normal;
}