//
// Font: Source Sans Pro: "Extra Light"
// ----------------------------------------------------------------------------------------------------


@font-family-sourcesanspro-extralight: ~"SourceSansPro-ExtraLight, @{font-family-sansserif}";


@font-face {
    font-family: "SourceSansPro-ExtraLight";
    src: url("@{public-fonts-path}sourcesanspro/sourcesanspro-extralight-webfont.eot");
    src: url("@{public-fonts-path}sourcesanspro/sourcesanspro-extralight-webfont.eot?#iefix") format("embedded-opentype"),
         url("@{public-fonts-path}sourcesanspro/sourcesanspro-extralight-webfont.woff") format("woff"),
         url("@{public-fonts-path}sourcesanspro/sourcesanspro-extralight-webfont.ttf") format("truetype"),
         url("@{public-fonts-path}sourcesanspro/sourcesanspro-extralight-webfont.svg#source_sans_proextralight") format("svg");
    font-weight: normal;
    font-style: normal;
}