//
// Font: Vollkorn: "Bold Italic"
// ----------------------------------------------------------------------------------------------------


@font-family-vollkorn-bold-italic: ~"Vollkorn-BoldItalic, @{font-family-sansserif}";


@font-face {
    font-family: "Vollkorn-BoldItalic";
    src: url("@{public-fonts-path}vollkorn/vollkorn-bolditalic-webfont.eot");
    src: url("@{public-fonts-path}vollkorn/vollkorn-bolditalic-webfont.eot?#iefix") format("embedded-opentype"),
         url("@{public-fonts-path}vollkorn/vollkorn-bolditalic-webfont.woff") format("woff"),
         url("@{public-fonts-path}vollkorn/vollkorn-bolditalic-regular-webfont.ttf") format("truetype"),
         url("@{public-fonts-path}vollkorn/vollkorn-bolditalic-webfont.svg#vollkornbold_italic") format("svg");
    font-weight: normal;
    font-style: normal;
}