//
// Font: Arcon "Regular"
// ----------------------------------------------------------------------------------------------------


@font-family-arcon-regular: ~"Arcon-Regular, @{font-family-sansserif}";


@font-face {
    font-family: "Arcon-Regular";
    src: url("@{public-fonts-path}arcon/arcon-regular-webfont.eot");
    src: url("@{public-fonts-path}arcon/arcon-regular-webfont.eot?#iefix") format("embedded-opentype"),
         url("@{public-fonts-path}arcon/arcon-regular-webfont.woff2") format("woff2"),
         url("@{public-fonts-path}arcon/arcon-regular-webfont.woff") format("woff"),
         url("@{public-fonts-path}arcon/arcon-regular-webfont.ttf") format("truetype"),
         url("@{public-fonts-path}arcon/arcon-regular-webfont.svg#arconregular") format("svg");
    font-weight: normal;
    font-style: normal;
}
