//
// Font: Proxima Nova "Regular"
// ----------------------------------------------------------------------------------------------------


@font-family-proximanova-regular: ~"ProximaNova-Regular, @{font-family-sansserif}";


@font-face {
    font-family: "ProximaNova-Regular";
    src: url("@{public-fonts-path}proximanova/proximanova-regular-webfont.eot");
    src: url("@{public-fonts-path}proximanova/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"),
         url("@{public-fonts-path}proximanova/proximanova-regular-webfont.woff") format("woff"),
         url("@{public-fonts-path}proximanova/proximanova-regular-webfont.ttf") format("truetype"),
         url("@{public-fonts-path}proximanova/proximanova-regular-webfont.svg#ProximaNova_rgregular") format("svg");
    font-weight: normal;
    font-style: normal;
}