//
// Font: Proxima Nova "Semibold Italic"
// ----------------------------------------------------------------------------------------------------


@font-family-proximanova-semibold-italic: ~"ProximaNova-Semibold-Italic, @{font-family-sansserif}";


@font-face {
    font-family: "ProximaNova-Semibold-Italic";
    src: url("@{public-fonts-path}proximanova/proximanova-semibold-italic-webfont.eot");
    src: url("@{public-fonts-path}proximanova/proximanova-semibold-italic-webfont.eot?#iefix") format("embedded-opentype"),
         url("@{public-fonts-path}proximanova/proximanova-semibold-italic-webfont.woff") format("woff"),
         url("@{public-fonts-path}proximanova/proximanova-semibold-italic-webfont.ttf") format("truetype"),
         url("@{public-fonts-path}proximanova/proximanova-semibold-italic-webfont.svg#proxima_novasemibold_italic") format("svg");
    font-weight: normal;
    font-style: normal;
}