//
// Font: Proxima Nova "Condensed Light"
// ----------------------------------------------------------------------------------------------------


@font-family-proximanova-condensed-light: ~"ProximaNova-Cond-Light, @{font-family-sansserif}";


@font-face {
    font-family: "ProximaNova-Cond-Light";
    src: url("@{public-fonts-path}proximanova/proximanova-condensed-light-webfont.eot");
    src: url("@{public-fonts-path}proximanova/proximanova-condensed-light-webfont.eot?#iefix") format("embedded-opentype"),
         url("@{public-fonts-path}proximanova/proximanova-condensed-light-webfont.woff") format("woff"),
         url("@{public-fonts-path}proximanova/proximanova-condensed-light-webfont.ttf") format("truetype"),
         url("@{public-fonts-path}proximanova/proximanova-condensed-light-webfont.svg#ProximaNova_condensedlight") format("svg");
    font-weight: normal;
    font-style: normal;
}