//
// Font: Proxima Nova "Condensed Italic"
// ----------------------------------------------------------------------------------------------------


@font-family-proximanova-condensed-italic: ~"ProximaNova-Cond-Italic, @{font-family-sansserif}";


@font-face {
    font-family: "ProximaNova-Cond-Italic";
    src: url("@{public-fonts-path}proximanova/proximanova-condensed-italic-webfont.eot");
    src: url("@{public-fonts-path}proximanova/proximanova-condensed-italic-webfont.eot?#iefix") format("embedded-opentype"),
         url("@{public-fonts-path}proximanova/proximanova-condensed-italic-webfont.woff") format("woff"),
         url("@{public-fonts-path}proximanova/proximanova-condensed-italic-webfont.ttf") format("truetype"),
         url("@{public-fonts-path}proximanova/proximanova-condensed-italic-webfont.svg#ProximaNova_condensedRgIt") format("svg");
    font-weight: normal;
    font-style: normal;
}